.popup {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(231, 227, 227, 0.2);
    padding: 20px 30px;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.overlay-background {
    background-color: #72727270;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 50;
}

.popup .approve {
    display: flex;
    justify-content: space-between;
}

.popup .approve .applay {
    background-color: var(--orange-digital);
    color: white;
    border: 1px solid var(--orange-digital);
    border-radius: 8px;
    height: 50px;
    font-weight: bold;
    padding: 10px 20px;
}