/* start select */

.form-select {
    margin-top: 5px;
}

.form-select .select-lable option {
    padding-left: 30px;
}

.select-lable {
    position: relative;
}

.select-lable .document {
    position: absolute;
    bottom: 17%;
    font-size: 10px;
    left: 10px;
}


/* end select */